/* Red */
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/
/* --- Style --- */
:root {
  --navbar-bg-color: hsl(0, 0%, 100%);
  --navbar-text-color: hsl(0, 0%, 0%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6; }

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto; }

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center; }

.navbar-item {
  margin: 0.4em;
  width: 100%; }

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out; }

.home-link:focus,
.home-link:hover {
  color: var(--navbar-text-color-focus); }

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px; }

.navbar-link:focus,
.navbar-link:hover {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast); }

.navbar-logo {
  background-image: url(../george-marina.png);
  background-color: var(--navbar-text-color-focus);
  width: 100px;
  height: 55px;
  margin-right: 0.5em;
  background-repeat: 0; }

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
 transform 0.2s ease-in-out,
 opacity 0.2s ease-in-out;
  background-color: var(--navbar-text-color); }

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: var(--navbar-text-color-focus); }

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px; }

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg); }

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0; }

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg); }

.navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
 visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0; }

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible; }

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none; }

@media screen and (min-width: 700px) {
  .navbar-toggle {
    display: none; }
  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%; }
  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%; }
  #navbar .navbar-link:last-child {
    margin-right: 0; } }

h1 {
  color: #333333;
  font-weight: 100%; }

.H1C {
  text-align: center;
  font-weight: 700;
  font-size: 150px; }

.H2C {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  user-select: none; }

@font-face {
  font-family: 'calistogaregular';
  src: url("calistoga-regular-webfont.woff2") format("woff2"), url("calistoga-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  margin: 0px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box; }

/* content */
.content {
  text-align: center; }

.content h1 {
  letter-spacing: 1px; }

/* form */
.form {
  width: 100%;
  margin: 15vh 0; }

.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0; }

.form input[type="text"], .form input[type="email"],
.form textarea {
  border: 2px solid black;
  padding: 15px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease; }

.form input:focus,
.form textarea:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(76, 161, 175, 0.5); }

.form .label {
  margin-bottom: 5px;
  text-transform: capitalize; }

.inner-form {
  border-radius: 5px;
  border-color: black; }

/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%; }

.top-form .inner-form:last-child {
  margin-right: 0; }

/* middle-form */
.middle-form {
  clear: both; }

/* bottom-form */
.bottom-form textarea {
  height: 120px; }

.btn {
  background: #333333;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer; }

@media screen and (max-width: 460px) {
  .wrapper {
    margin: 25px auto 0; }
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0; }
  .top-form,
  .middle-form,
  .bottom-form {
    margin: 5px 0; }
  .form {
    margin-top: 10px; }
  .form input[type="text"],
  .form textarea {
    width: 100%;
    box-sizing: border-box; } }

div.thankspage {
  background: grey;
  color: white;
  text-align: center; }
  div.thankspage .text1 {
    margin-top: 25vh;
    font-size: 6vh; }
  div.thankspage .text2 {
    margin-top: 5vh;
    font-size: 3vh; }

#content {
  text-align: center;
  font-size: 18px;
  font-family: libre-bsakerville;
  padding-top: 2em;
}

#mapparkval {
  padding-top: 10px;
  border: 10px;
} 

*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  text-align: center;
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border: 2px solid black;
}